version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/pen_test.db:/app/pen_test.db
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "9595:80"
    depends_on:
      - backend
    restart: always
